//STYLE DE NOTRE HEADER



//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;


  nav{

    display: flex;
    flex-direction: column;
    align-items: center;

    ul{

      padding: 0;
      list-style: none;
      text-align: center;

      width: 100%;

      li{



        &>ul{

          display: none;

          background-color: darkgray;



        }

        &:hover > ul{

          display: block;


        }

      }

    }

  }

}

@media screen  and (min-width: $breakpoint-sm){

  .header-page{

    nav{

      flex-direction: row;
      justify-content: space-between;

      ul{

        width: auto;

        display: flex;


        a{

          padding: 5px 10px;

        }

        li{

          position: relative;

          &>ul{

            position: absolute;

            top: 100%;

            min-width: 100px;

          }

        }

      }

    }

  }

}





